<header>  
    <div class="header">  
        <div class="site-description">
            <h1 class="site-title">  
                <a href="/">Alfredo Huitron</a>  
            </h1>  
        </div>  
        <nav class="nav">
            <ul class="flat">
                <li>
                    <a href="/">Home</a>  
                </li>
                <li>
                    <a href="/writing">Writing</a>  
                </li>
                <li>
                    <a href="/projects">Projects</a>  
                </li>
                <li>
                    <a href="/reads">Reads</a>  
                </li>
            </ul>
        </nav>
    </div>  
</header>  

<!-- <div id="nav-border" class="container">
    <nav id="nav" class="nav justify-content-center">
        {{ range .Site.Menus.main }}
        <a class="nav-link" href="{{ .URL }}">
        {{ if .Pre }}
        {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
        {{ $icon }}
        {{ end }}
        {{ $text := print .Name | safeHTML }}
        {{ $text }}
        </a>
        {{ end }}
    </nav>
</div> -->